@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,700;1,900&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  cursor: pointer;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  font-size: 12px;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  min-height: 100%;
}

p {
  font-size: 1rem;
}

h1 {
  margin: auto 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-style: italic;
  letter-spacing: 1px;
  word-spacing: 2px;
  cursor: pointer;
}

h4 {
  letter-spacing: 1px;
  cursor: pointer;
}

h4:hover {
  color: #262686;
}

#container {
  min-height: 100vh;
}

header {
  background-image: url("../images/header/header3.jpg");
  height: 600px;
  background-image: cover;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  padding: 100px;
  background-position: 150px -150px;
  background-color: #e0dcd3;
}

header section {
  width: 400px;
}

header h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #6b9592;
}

header h3 {
  font-size: 6.7rem;
  line-height: 100px;
  text-transform: uppercase;
  margin: 20px 0;
  letter-spacing: 1px;
}

header p {
  font-size: 1.8rem;
  font-weight: 500;
}

header button {
  border: 1px solid white;
  background-color: #00000094;
  color: white;
  text-transform: uppercase;
  margin: 20px 0;
  font-weight: 500;
  padding: 5px 30px;
  -webkit-transition: background-color .5s, color .5s;
  transition: background-color .5s, color .5s;
}

header button:hover {
  color: black;
  background-color: white;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5vw;
  background-color: #faf2f4ee;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 8;
  height: 50px;
}

nav ul {
  margin: 0;
}

nav li {
  display: inline-block;
  margin: auto 1vw;
  line-height: 60px;
}

nav li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  position: relative;
  padding-top: 17px;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1px;
}

nav li a svg {
  position: absolute;
  bottom: -5px;
}

nav li a:hover > svg path {
  fill: #fa768c;
  -webkit-transition: fill .5s;
  transition: fill .5s;
}

nav li .nav-link:hover {
  border-top: 4px solid #fa768c;
  color: #fa768c;
  -webkit-transition: color .3s;
  transition: color .3s;
}

#items {
  margin: 10vh 5vw 5vh 5vw;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 2vw;
}

#items .item-wrapper {
  width: 230px;
  height: 430px;
  padding: 0 16px;
  margin-bottom: 32px;
  position: relative;
}

#items .item-wrapper .item-image-wrapper {
  width: 100%;
  height: 200px;
}

#items .item-wrapper .item-image-wrapper img {
  width: 100%;
  height: 300px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

#items .item-wrapper .item-image-wrapper:hover {
  background-color: lightslategrey;
  z-index: 40;
}

#items .item-wrapper .item-description-wrapper {
  background: #f9f9f9;
  padding: 10px;
  height: 130px;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 5;
  right: 0;
}

#items .item-wrapper .item-description-wrapper .item-cost {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#items .item-wrapper .item-description-wrapper .item-description {
  font-size: 1rem;
  color: #767676;
  margin: 8px 0;
}

#items .item-wrapper .item-description-wrapper .btn-add-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  margin: auto auto;
  background: white;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  width: 210px;
  position: absolute;
  bottom: 10px;
}

#items .item-wrapper .item-description-wrapper .btn-add-cart:active {
  background-color: #e0ffd9ee;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

#items .item-wrapper .item-description-wrapper .btn-add-cart:hover {
  border-color: black;
  -webkit-transition: border-color .8s;
  transition: border-color .8s;
}

footer {
  background: black;
  color: white;
  bottom: 0;
  width: 100%;
  padding: 2vh 0;
}

footer #footer-title {
  display: none;
}

footer #footer-title img {
  width: 150px;
  height: 150px;
}

footer #footer-copyright {
  color: darkgrey;
}

footer #footer-copyright ul {
  width: 100px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer #footer-copyright li {
  display: inline-block;
  cursor: pointer;
}

footer #footer-copyright svg path {
  fill: #a7636f;
}

footer #footer-copyright .social-link:hover > svg path {
  fill: #fd9aab;
}

footer #footer-copyright #footer-copyright-wrapper {
  text-transform: capitalize;
}

footer #footer-copyright #footer-copyright-wrapper p {
  color: #d8d8d8;
}

footer #footer-copyright #footer-copyright-wrapper ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

footer #footer-copyright #footer-copyright-wrapper li {
  font-size: 1rem;
  text-decoration: underline;
  cursor: pointer;
}

footer #footer-copyright #footer-copyright-wrapper li:hover {
  color: #ebebeb;
}

footer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5vw;
}

footer section h5 {
  color: #626262;
  text-transform: uppercase;
  cursor: pointer;
}

footer section h5:hover {
  color: #7e7d7d;
}

footer section ul {
  display: inline-block;
}

footer section li {
  list-style-type: none;
}

footer section li a {
  color: darkgrey;
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none;
}

footer section li a:hover {
  color: #ebebeb;
}

footer section #footer-email {
  margin: auto 0;
  color: #d8d8d8;
}

footer section #footer-email #email-validation {
  visibility: hidden;
  color: #b83232;
  font-size: 1rem;
}

footer section #footer-email #footer-email-input {
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
}

footer section #footer-email #footer-email-input input, footer section #footer-email #footer-email-input button {
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

footer section #footer-email #footer-email-input input:focus {
  outline: none;
}

footer section #footer-email #footer-email-input ::-webkit-input-placeholder {
  color: #d8d8d8;
  padding-left: 5px;
}

footer section #footer-email #footer-email-input :-ms-input-placeholder {
  color: #d8d8d8;
  padding-left: 5px;
}

footer section #footer-email #footer-email-input ::-ms-input-placeholder {
  color: #d8d8d8;
  padding-left: 5px;
}

footer section #footer-email #footer-email-input ::placeholder {
  color: #d8d8d8;
  padding-left: 5px;
}

footer section #footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#cart-outer-container {
  background: rgba(169, 169, 169, 0.363);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  visibility: hidden;
  z-index: 51;
}

#cart-container {
  width: 30vw;
  min-width: 400px;
  height: 100vh;
  position: fixed;
  background: white;
  top: 0;
  right: 0;
  -webkit-box-shadow: 2px 2px 5px lightslategrey;
          box-shadow: 2px 2px 5px lightslategrey;
  font-family: 'Red Hat Display', sans-serif;
  overflow-y: scroll;
}

#cart-container #cart-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #c5c5c5;
  padding: 10px;
  font-size: 1.2rem;
}

#cart-container #cart-nav h5 {
  margin: 0;
  text-transform: capitalize;
  margin: auto 0;
  letter-spacing: 1px;
}

#cart-container #cart-nav button {
  border: none;
  background: transparent;
  cursor: pointer;
}

#cart-container #cart-nav #cart-close-btn:hover {
  font-weight: 700;
}

#cart-container #cart-items-wrapper {
  min-height: 78vh;
}

#cart-container #cart-items {
  margin: 3vh 3vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  grid-auto-rows: auto;
  gap: 20px;
  font-size: 1rem;
}

#cart-container #cart-items nav h5 {
  font-size: 1.3rem;
}

#cart-container #cart-items section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 3vw;
}

#cart-container #cart-items section div {
  width: 100%;
}

#cart-container #cart-items section .cart-item-cost-wrapper, #cart-container #cart-items section .cart-item-cost {
  display: inline-block;
}

#cart-container #cart-items section .cart-delete-btn {
  outline: none;
  border: 1px solid #c6cfd9;
  font-size: 1rem;
  width: 100%;
  background: none;
}

#cart-container #cart-items section .cart-edit-quanitity {
  outline: none;
  border: 1px solid #c6cfd9;
  font-size: 1rem;
  width: 50%;
  background: none;
  display: inline-block;
}

#cart-container #cart-items section .add:hover {
  background-color: #c3e7c3;
}

#cart-container #cart-items section .minus:hover {
  background-color: #f1cfd5;
}

#cart-container #cart-items img {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

#cart-container footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  padding: 10px 10px 3vh 10px;
  font-size: 1rem;
  background: white;
  -webkit-box-shadow: 2px 2px 5px lightslategrey;
          box-shadow: 2px 2px 5px lightslategrey;
  color: black;
  z-index: 50;
}

#cart-container footer #checkout-subtotal, #cart-container footer #checkout-total, #cart-container footer #checkout-tax {
  text-align: right;
}

#cart-container footer p {
  font-weight: 700;
  font-size: 1.5rem;
}

#cart-container footer button {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 4;
  grid-row: 4;
  background-color: black;
  color: white;
  padding: 15px 0;
  border-radius: 5px;
  /* outline: none; */
  border: none;
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 2vh;
  cursor: pointer;
}

#cart-container footer button:hover {
  background-color: #333333;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.show {
  visibility: visible !important;
}

.show-cart-dash {
  right: 0;
}

#quickViewContainer {
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.178);
  visibility: hidden;
  z-index: 50;
}

#quickViewContainer .quickViewWrapper {
  background: white;
  width: 50vw;
  min-width: 600px;
  height: 50vh;
  margin: 25vh auto;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: 2rem auto auto;
      grid-template-rows: 2rem auto auto;
  padding: 2vh 5vw 5vh 5vw;
  -webkit-column-gap: 2vw;
          column-gap: 2vw;
  font-size: 1rem;
}

#quickViewContainer .quickViewWrapper span {
  font-weight: 700;
}

#quickViewContainer .quickViewWrapper img {
  width: 200px;
  height: 300px;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  margin: auto auto;
}

#quickViewContainer .quickViewWrapper .quickViewWrapper {
  position: absolute;
  top: 0;
  right: 0;
}

#quickViewContainer .quickViewWrapper .quickView-close {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin: 0 0 0 auto;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0;
  border: none;
  line-height: 1.5rem;
  border-radius: 20px;
  background: transparent;
}

#quickViewContainer .quickViewWrapper .quickView-close:hover {
  color: lightslategrey;
}

#quickViewContainer .quickViewWrapper .quickView-Cart-Btn {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  padding: 10px 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: black;
  border: none;
  font-weight: 700;
  border-radius: 5px;
  color: white;
  margin: auto auto;
  width: 100%;
  cursor: pointer;
}

#quickViewContainer .quickViewWrapper .quickView-Cart-Btn:hover {
  background-color: #505050;
  -webkit-box-shadow: 2px 2px 5px lightslategrey;
          box-shadow: 2px 2px 5px lightslategrey;
  -webkit-transition: background-color .3s, -webkit-box-shadow .3s;
  transition: background-color .3s, -webkit-box-shadow .3s;
  transition: background-color .3s, box-shadow .3s;
  transition: background-color .3s, box-shadow .3s, -webkit-box-shadow .3s;
}

#quickViewContainer .quickViewWrapper section {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin: auto auto;
}

#quickViewContainer .quickViewWrapper section h6 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.item-fade {
  top: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  height: 300px;
  position: absolute;
  cursor: pointer;
  line-height: 300px;
  color: transparent;
  text-align: center;
  font-weight: 700;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.item-fade-show {
  background-color: rgba(119, 136, 153, 0.418) !important;
  color: #ffffffe8 !important;
}

.productId {
  display: none;
}

#checkoutContainer {
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.178);
  visibility: hidden;
  z-index: 50;
}

#checkoutContainer #checkoutWrapper {
  background: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 600px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 25vh auto;
  border-radius: 10px;
  padding: 5vh 5vw 5vh 5vw;
  -webkit-column-gap: 2vw;
          column-gap: 2vw;
  font-size: 1rem;
}

#checkoutContainer #checkoutWrapper select, #checkoutContainer #checkoutWrapper input {
  border-radius: 5px;
}

#checkoutContainer #checkoutWrapper #checkout-close-btn {
  display: inline-block;
  background: none;
  float: right;
  border: none;
  font-size: 1.6rem;
}

#checkoutContainer #checkoutWrapper #checkout_form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  gap: 30px;
}

#checkoutContainer #checkoutWrapper #checkout_form .cardNumberWrapper {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  grid-row: 2;
  width: 100%;
  margin-bottom: -19px;
}

#checkoutContainer #checkoutWrapper #checkout_form .cardNumberWrapper input {
  width: 100%;
}

#checkoutContainer #checkoutWrapper #checkout_form .cardNumberWrapper #invalidCardNumber {
  visibility: hidden;
  color: red;
}

#checkoutContainer #checkoutWrapper #checkout_form #formLabel {
  font-size: 2.5rem;
  border-bottom: 2px solid #b3b5b8;
}

#checkoutContainer #checkoutWrapper #checkout_form #formLabel, #checkoutContainer #checkoutWrapper #checkout_form .cardNumber {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

#checkoutContainer #checkoutWrapper #checkout_form #invalidCardCVV {
  visibility: hidden;
  color: red;
}

#checkoutContainer #checkoutWrapper #checkout_form input, #checkoutContainer #checkoutWrapper #checkout_form select {
  padding: 10px;
}

#checkoutContainer #checkoutWrapper #checkout_form button {
  width: 100%;
  background-color: #4abe4a;
  color: white;
  border-radius: 10px;
  font-size: 1.7rem;
  outline: none;
  border: none;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  padding: 15px;
}

#checkoutContainer #checkoutWrapper #checkout_form button:hover {
  background-color: #2d8d2d;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

.blkBorder {
  border: 1px solid black;
}

#social-media-feature {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 300px 300px auto;
      grid-template-columns: 300px 300px 300px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5vh 5vw;
  height: 350px;
  gap: 10px;
  padding-top: 50px;
  border-top: 1px solid black;
}

#social-media-feature img {
  width: 300px;
  height: 300px;
  -ms-grid-row: 1;
  grid-row: 1;
}

#social-media-feature h4 {
  font-size: 1.5em;
}

#social-media-feature p {
  font-size: 1.2rem;
}

#social-media-feature section {
  margin: auto 0 auto 30px;
}

#social-media-feature a, #social-media-feature span {
  font-weight: 500;
  text-decoration: underline;
  display: inline;
  color: black;
}

#social-media-feature button {
  font-family: "Red Hat Display";
  background: transparent;
  border: 1px solid black;
  padding: 0 20px;
  margin-top: 10px;
}

#social-media-feature button:hover {
  background: black;
  color: white;
}

.menu-btn {
  visibility: hidden;
}

.menu-btn-burger {
  visibility: hidden;
}

@media only screen and (max-width: 1250px) {
  #social-media-feature {
    -ms-grid-columns: 200px 200px 200px auto;
        grid-template-columns: 200px 200px 200px auto;
    height: 250px;
  }
  #social-media-feature img {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 12px;
  }
  #social-media-feature {
    -ms-grid-columns: 200px 200px 200px;
        grid-template-columns: 200px 200px 200px;
    -ms-grid-rows: 200px auto;
        grid-template-rows: 200px auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
  }
  #social-media-feature img {
    -ms-grid-row: 2;
    grid-row: 2;
    width: 200px;
    height: 200px;
  }
  #social-media-feature section {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    margin: auto 0 30px 0 !important;
  }
  header {
    padding: 100px 50px;
    height: 100vh;
    background-position-y: 220px;
    background-position-x: -500px;
    background-color: #e3dfd6;
  }
}

@media only screen and (max-width: 650px) {
  #social-media-feature {
    -ms-grid-columns: 100px 100px 100px;
        grid-template-columns: 100px 100px 100px;
    -ms-grid-rows: auto 100px;
        grid-template-rows: auto 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
  }
  #social-media-feature img {
    -ms-grid-row: 2;
    grid-row: 2;
    width: 100px;
    height: 100px;
  }
  #social-media-feature section {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    margin-top: 20px;
  }
  #header h3 {
    font-size: 60px;
    line-height: 60px;
  }
}

@media only screen and (max-width: 528px) {
  #items {
    margin: 10vh auto 5vh auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .nav-content {
    display: none;
  }
  #footer-links-wrapper {
    display: -ms-grid;
    display: grid;
  }
  #footer-links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
  #footer-links ul {
    padding: 0;
    margin: 0 0 50px 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  #footer-email-input {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  #footer-email {
    height: 80px;
  }
  #footer-copyright {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  #footer-copyright ul:first-of-type {
    width: 150px;
    margin: 50px auto 80px auto;
  }
  #footer-copyright #footer-copyright-wrapper ul {
    margin: 50px auto 30px auto;
    width: 100% !important;
  }
  .menu-btn {
    visibility: visible;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    margin: 5px;
    right: 20px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    z-index: 300;
  }
  .menu-btn-burger {
    visibility: visible;
    background: black;
    border-radius: 25px;
    width: 30px;
    height: 3px;
    position: relative;
    margin: 0 auto;
    top: 22.5px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  .menu-btn-burger::before,
  .menu-btn-burger::after {
    content: '';
    position: absolute;
    border-radius: 25px;
    width: 30px;
    height: 3px;
    background: black;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  .menu-btn-burger::before {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  .menu-btn-burger::after {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  .menu-btn.open .menu-btn-burger {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    background: transparent;
  }
  .menu-btn.open .menu-btn-burger::before {
    -webkit-transform: rotate(45deg) translate(35px, -35px);
            transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn-burger::after {
    -webkit-transform: rotate(-45deg) translate(35px, 35px);
            transform: rotate(-45deg) translate(35px, 35px);
  }
  .open {
    display: block !important;
  }
  #btn-cart-outter {
    margin-top: 20px;
  }
  .nav-content {
    position: absolute;
    width: 50vw;
    height: 100vh;
    right: 0;
    background-color: white;
    -webkit-box-shadow: 2px 2px 200px #a3a3a3;
            box-shadow: 2px 2px 200px #a3a3a3;
  }
  .nav-content ul {
    padding-top: 10vh;
  }
  .nav-content li {
    display: block;
    margin: 5px 15px 5px 0;
    text-align: right;
    height: 30px;
  }
  .nav-content li a {
    padding: 0;
  }
  .nav-content li .nav-link:hover {
    border-right: 4px solid #fa768c;
    border-top: none;
  }
  .nav-content a svg {
    position: relative;
  }
  #cart-container {
    width: 100vw;
    min-width: auto !important;
  }
  #cart-container footer {
    padding-bottom: 130px;
  }
  #cart-container #cart-items section {
    width: 80vw;
  }
  #checkoutWrapper {
    min-width: auto !important;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  #quickViewContainer .quickViewWrapper {
    -ms-grid-rows: 2rem 150px auto auto !important;
        grid-template-rows: 2rem 150px auto auto !important;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    min-width: 300px !important;
  }
  #quickViewContainer .quickViewWrapper img {
    width: 120px;
    height: 150px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  #quickViewContainer .quickViewWrapper section {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    grid-row: 3;
    text-align: center;
  }
  #quickViewContainer .quickViewWrapper .quickView-Cart-Btn {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 4;
    grid-row: 4/4;
  }
  .btn-add-cart:hover, .btn-add-cart:active {
    background-color: #e0ffd9ee !important;
  }
  header {
    padding: 100px 50px;
    height: 100vh;
    background-size: cover;
  }
  header section {
    width: auto;
  }
  header h3 {
    font-size: 40px;
    line-height: 40px;
  }
}
/*# sourceMappingURL=style.css.map */